.footer{
    height: 200px;
    width: 100%;
    background: #0a0a70;
    background: radial-gradient(circle, rgba(10, 10, 112, 1) 0%, #020024 100%);
    display: block;
    float: left;
}
.img1{
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    background: #020024;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    border-radius: 10%;
}
.imagens{
    width: 80px;
    display: block;
    float: left;
    
}
.footer-titulo{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.linguagens{
    width: 50%;
    display: block;
    float: left;
    height: 98px;
    margin-left: 25%;
}
.html{
    width: 130px;
    margin-top: 5px;
    margin-left: -25px;
    display: block;
    float: left;
    text-align: center;
}
.css{
    width: 130px;
    margin-top: 5px;
    margin-left: -25px;
    display: block;
    float: left;
    text-align: center;
}
.js{
    width: 73px;
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    float: left;
    text-align: center;
}
.php{
    width: 73px;
    margin-top: 15px;
    margin-left: 5px;
    display: block;
    float: left;
    text-align: center;
}
.react{
    width: 65px;
    margin-top: 11px;
    margin-left: 7px;
    display: block;
    float: left;
    text-align: center;
}