ul.redes{
    margin-top: 20px;
    margin-left: 100px;
}
ul.redes li{
    float: left;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    list-style-type: none;
}
.header-text{
    width: 370px;
    height: 200px;
    
}
.github{
    height: 50px;
    width: 50px;
}
.linkEdin{
    height: 50px;
    width: 50px;
}
.texto1{
    margin-top: 80px;
    margin-left: 50px;
}
.apresentacao{
    height: auto;
    width: 450px;
    margin-top: 50px;
    margin-left: 115px;
    color: white;
}
.saudacao{
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
    margin-top: 20px;
    margin-left: 55px;
}
.nome{
    font-size: 50px;
    margin-left: 5px;
    color: white;
    margin-top: 20px;
    margin-left: 65px;
}
.profissao{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 5px;
    color: white;
    margin-top: 20px;
    margin-left: 65px;
}
.header-left{
    width: 50%;
    display: block;
    float: left;
    
}
.foto {
    background-image: url('../img/estela.jpg');
    width: 290px;
    height: 330px;
    float: right;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    border-radius: 50%;
    margin-top:100px;
    margin-right: 12%;
}